.f_flex {
  display: flex;
}

.side-main {
  background-color: #fff;
}
.main {
  margin: 20px;
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  flex: 4;
}

.padding {
  padding: 20px;
}

.d_flex {
  display: flex;
  justify-content: center;
}
.s_flex {
  display: flex;
  align-items: center;
}
.component {
  width: 80%;
  /* background: #f62f5e; */
}

/*---Nav-Bar--*/
.nav {
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: sticky;
  top: 0px;
  z-index: 1000;
  box-shadow: 1px 2px 3px -2px;
}
.nav .nav-bar {
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  /* float: left; */
  /* margin-left: 40px; */
  align-items: center;
}
.nav h2 {
  text-transform: uppercase;
  color: #f62f5e;
}
.color_red {
  color: #f62f5e;
  font-weight: 600;
}

/*---Side Bar----*/
.sidebar {
  width: 230px;
  background-color: #fff;
  padding: 10px;
}
.side-bar-box {
  -webkit-box-shadow: 0px 0px 7px -1px #b4b4b4;
  box-shadow: 0px 0px 7px -1px #b4b4b4;
  margin-top: 10px;
  padding: 20px;
}
.side-bar-box a {
  text-decoration: none;
  color: #fff;
}
.side-bar-box li {
  list-style: none;
}
.side-bar-head {
  background-color: #f62f5e;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}
.side-bar-head:hover {
  background-color: #fc547b;
}
.side-bar-list {
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.side-body {
  background-color: #b4b4b4;
  margin-top: 5px;
  padding: 5px 0px;
  border-radius: 6px;
  color: #fff;
  line-height: 40px;
  margin-left: 20px;
  width: 150px;
}
.side-body:hover {
  background-color: #6c6c6c;
  cursor: pointer;
}
.frontend {
  margin-top: 5px;
}
/*--------Home------*/

.api-order {
  font-weight: 600;
  color: #6c6c6c;
  margin-top: 20px;
  margin-left: 25px;
}
.api-unorder {
  margin-left: 40px;
}
.margin-bottom {
  margin-bottom: 30px;
}

/*--------Mongodb------*/
.content {
  margin-top: 20px;
}
.color {
  color: #6c6c6c;
}
.content label {
  color: #6c6c6c;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.content-list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.content-list img {
  width: 80%;
  margin-left: 40px;
}
.text-info {
  font-size: 15px;
  margin-left: 40px;
  color: #6c6c6c;
}

/*---Frontend---*/
.frontend label {
  color: #6c6c6c;
  font-weight: 600;
  line-height: 30px;
}
.frontend h3 {
  color: #6c6c6c;
  margin-top: 20px;
}
